<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML//EN">
<html> <head>
<title>Course Schedule</title>
  <link rel="stylesheet" type="text/css" href="static/css/syllabus.css"
   media="screen"/> 
  <link rel="stylesheet" type="text/css" href="static/css/syllabus-print.css"
   media="print"/> 

</head>
<!--Need a way to tell if a week is "this week", each entry is one week from start date -->
<body>
<h1>Schedule</h1>

<table class="class-schedule">
  <p> weeknum is {{g.weekNum}}</p>
  {% for entry in g.schedule %}
    {% if g.weekNum == loop.index %}
      <tr class="currentWeek"> 
    {% else %} 
      <tr class="odd">
    {% endif %}
    <td class="week">{{ entry.week }}</td>
    <td class="topic">{{ entry.topic }}</td>
    <td class="project">{{ entry.project}}</td>
    </tr>
  {% endfor %}
</table>
  



</body> </html>
